server:
  port: 8087

spring:
  application:
    name: restaurant-service
  datasource:
    url: jdbc:mysql://localhost:3306/smartfood
    username: root
    password: Charanraj@02

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka